[postgres]
user = "user"
password = "password"
host = "localhost"
port = 5432
database = "postgres"

[github]
secret = "407c416d99a3885f3f152b3fdbf938a3b88e6742"
key = "4dc28eef1750ddf0088a"

[paseto]
key = "rJM6HEmSnO9UnfNwgajL1ZLAdeYoUnxT"
